@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --text-primary: black;
    --text-secondary: white;
    --text-third: #d1d5db;
    --bg-primary: #e5e7eb;
    --drawer-color: #0ea5e9;
    --nav-bg-1: #f8f8f8;
    --nav-color-1: #c9c9c9;
    --accent-color: #fbbf24;
    --content-gray: #6b7280;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 0.5fr 1fr 1fr 0.6fr;
    background-color: var(--bg-primary);
}

h1 {
    margin-left: 20px;
}

/* sidebar */
.sidebar {
    grid-row: 1 / 3;
    background-color: var(--drawer-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-secondary);
}


.sidebar div:nth-child(8) {
    padding-top: 50px;
}

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin-left: 40px;
    font-size: 1.5rem;
}

.link{
    cursor: pointer;
}

.logo{
    font-size: 2rem;
    margin-top: 20px;
}

/* navbar */


.navbar {
    grid-column: 2 / 5;
    background-color: var(--nav-bg-1);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.75fr 0.75fr;
    box-shadow: 0 5px 10px rgb(0,0,0,0.15);
}

.topNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin-left: 50px;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    margin-right: 125px;
}


.botNav {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 125px;
    gap: 50px;
}

.btn {
    width: 140px;
    height: 50px;
    border-radius: 20px;
    font-size: 1.25rem;
    border: none;
    background-color: var(--drawer-color);
    color: var(--text-secondary);
}

button:hover {
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.greeting {
    font-size: 1.25rem;
    margin-left: 2px;
    font-weight: 600;
}

.name {
    margin-top: 5px;
    font-size: 1.75rem;
    font-weight: bolder;
}


.avatar img {
    width: 75px;
    padding: 25px;
    cursor: pointer;
}

input {
    width: 800px;
    height: 35px;
    margin-left: 15px;
    background-color: var(--nav-color-1);
    border: none;
    border-radius: 10px;
}

/* main content */

.content {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.cards {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-right: 15px;
}

.card {
    margin-left: 15px;
    padding: 25px;
    background-color: var(--nav-bg-1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgb(0,0,0,0.10);
}

.cards .card {
    border-left: 5px solid var(--accent-color);
    height: 212px;
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
    margin-top: auto;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1.5rem;
}

.card-text {
    color: var(--content-gray);
    margin-top: 5px;
}

.card-text {
    font-size: 1rem;
}

.icons img, .menuIcon img {
    cursor: pointer;
}

ul {
    margin-right: 50px;
}

h2 {
    margin-left: 15px;
    margin-top: 45px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

h5 {
    font-weight: bold;
}

.announcements .card{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 25px;
    gap: 15px;
}


.trend {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.trend-avatar img {
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer;
}


